*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #F3FFFF;
}

.wrapper{
	display: grid;
	width: 90%;
	grid-template-rows: .2fr .15fr 1fr .3fr;
	margin: 0 auto;
}
.navbar{
	width: 100%;
}
.navbar ul{
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding-left: 0;
	list-style: none;
}
.navbar li{
	font-size: 2em;
	border:2px solid;
	width: 100%;
	height:100%;
	text-align: center;
	background-color: lightgrey;
	text-shadow: 1px 1px grey;
}
.navbar li a{
	text-decoration: none;
	color:black;
}
.title{
	margin-top: 3%;
}
.title h1{
	text-align: center;	
	font-style: italic;
	text-decoration: underline;
}
.topWrapper{
	grid-row:3/4;
	margin-top: 2%;
	text-align: center;
}
#title{
	font-size: 1.4em;
	font-weight: bold;
	text-decoration: underline;
}
.topWrapper ul{
	list-style-type: none;
	padding-left: 0;
}
.topWrapper li{
	margin-top: 1.5%;
}
.topWrapperTitle{
	font-weight: bold;
	font-size: 1.2em;
}
#italic{
	font-style: italic;
}
.workExp{
	margin-top: 3%;
}
.bottomWrapper{
	grid-row: 4/5;
	margin-top: 4%;
	text-align: center;
}
.skills ul{
	list-style-type: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.skillTitle{
	font-size: 1.4em;
	font-weight: bold;
	text-decoration: underline;
}
.contactBar{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.contactBar ul{
	display: grid;
	grid-template-rows:1fr 1fr 1fr;
	text-align: center;
	width: 100%;
	list-style: none;
	padding-left: 0;
	margin-top: 1%;
}
.contactBar li{
	margin-top: 2.5%;
	font-size: 1.5em;
	text-shadow: 1px 1px;

}
.contactBar li a{
	color: black;
	text-decoration: none;
}


@media only screen and (min-width: 481px) and (max-width: 768px){
	.wrapper{
		grid-template-rows: .2fr .18fr 1.1fr 1.1fr;
	}
	.navbar ul{
		grid-template-columns: 1fr 1fr;
		grid-template-rows:auto;
	}
	.topWrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2%;

	}
	.bottomWrapper{
		display: grid;
		grid-template-rows: 1fr .5fr;
	}
	.skillImage{
		grid-row: 1/2;
		background-image: url("images/skills.png");
		background-size: 100% 100%;
	}
	.skillTitle{
		font-size: 0;
	}
	.skills{
		font-weight: bold;
		margin-top: 4%;
	}
	.skills ul{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.contactBar{
		margin-top: 3%;
	}
	.contactBar ul{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.contactBar li{
		border:2px solid;
		background-color: lightgrey;
	}
}
@media only screen and (min-width: 769px) and (max-width: 992px){
	.wrapper{
		grid-template-rows: .2fr .18fr 1fr 1fr 1fr;
	}
	.navbar ul{
		grid-template-columns: 1fr 1fr;
		grid-template-rows:auto;
	}
	.middlePhoto{
		grid-row: 3/4;
		margin-top: 2%;
		background-image: url("images/programmer.jpeg");
		background-size: 100% 100%;
	}
	.topWrapper{
		grid-row: 4/5;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2%;

	}
	.bottomWrapper{
		grid-row: 5/6;
		display: grid;
		grid-template-rows: 1fr .5fr;
	}
	.skillImage{
		grid-row: 1/2;
		background-image: url("images/skills.png");
		background-size: 100% 100%;
	}
	.skillTitle{
		font-size: 0;
	}
	.skills{
		font-weight: bold;
		margin-top: 4%;
	}
	.skills ul{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.contactBar{
		margin-top: 3%;
	}
	.contactBar ul{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.contactBar li{
		border:2px solid;
		background-color: lightgrey;
	}
}
@media only screen and (min-width: 993px){
	.wrapper{
		grid-template-rows: .2fr .18fr 1fr 1fr 1fr;
	}
	.navbar ul{
		grid-template-columns: 1fr 1fr;
		grid-template-rows:auto;
	}
	.middlePhoto{
		grid-row: 3/4;
		margin-top: 2%;
		background-image: url("images/programmer.jpeg");
		background-size: 100% 100%;
	}
	.topWrapper{
		grid-row: 4/5;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2%;

	}
	.bottomWrapper{
		grid-row: 5/6;
		display: grid;
		grid-template-rows: 1fr .5fr;
	}
	.skillImage{
		grid-row: 1/2;
		background-image: url("images/skills.png");
		background-size: 100% 100%;
	}
	.skillTitle{
		font-size: 0;
	}
	.skills{
		font-weight: bold;
		margin-top: 4%;
	}
	.skills ul{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.contactBar{
		margin-top: 3%;
	}
	.contactBar ul{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.contactBar li{
		border:2px solid;
		background-color: lightgrey;
	}
}