*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #F3FFFF;
}

.wrapper{
	display: grid;
	width: 90%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .2fr .18fr 1fr .5fr;
	margin: 0 auto;
}
.navbar{
	width: 100%;
	grid-column: 1/3;
}
.navbar ul{
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding-left: 0;
	list-style: none;
}
.navbar li{
	font-size: 2em;
	border:2px solid;
	width: 100%;
	height:100%;
	text-align: center;
	background-color: lightgrey;
	text-shadow: 1px 1px grey;
}
.navbar li a{
	text-decoration: none;
	color:black;
}
.navbar li a:hover{
	color: grey;
}
.title{
	grid-column:1/3;
	text-align: center;
	text-shadow: 1px 1px grey;
	text-decoration: underline;
	margin-top: 2.5%;
}
.topWrapper{
	display: grid;
	grid-template-rows: 1fr .8fr;
	grid-column: 1/3;
}
.schoolTitle{
	font-size: 1.1em;
	font-weight: bold;
}
.schoolExp{
	display: grid;
	grid-template-rows: .1fr 1fr;
	grid-row: 1/2;
}
#title{
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;
}
.schoolExp ul{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	list-style: none;
	padding-left: 0; 
}
.schoolExp li{
	border:2px solid;
	font-size: 1.1em;
}
#italic{
	font-style: italic;
}
.workExp{
	margin-top: 2%;
	display: grid;
	grid-template-rows: .1fr .8fr;
}
.workExp ul{
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-rows: 1fr 1fr;
	height: 100%;
}
.workExp li{
	border:2px solid;
}
.workTitle{
	font-size: 1.1em;
    font-weight: bold;
}
.bottomWrapper{
	grid-column: 1/3;
	grid-row:4/5;
}
.bottomWrapper ul{
	list-style: none;
	padding-left: 0;
}
.skillTitle{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 3%;
	text-align: center;
	text-decoration: underline;
}
.skills ul{
	display: grid;
	grid-template-columns:1fr 1fr; 
	grid-template-rows:1fr 1fr 1fr;
	margin-top: 3%;
}
.skills li{
	text-align: center;
}
.contactBar{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
}

.contactBar ul{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	text-align: center;
	margin:0 auto;
	width: 90%;
	list-style: none;
}
.contactBar li{
	margin-top: 2.5%;
	font-size: 1.5em;
	text-shadow: 1px 1px;

}
.contactBar li a{
	color: black;
	text-decoration: none;
}
.footer{
	width: 80%;
	position: fixed;
	bottom: 0;
}
@media only screen and (max-width:480px){
	.contactBar ul{
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px){
	.wrapper{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .2fr .18fr 1fr 1.5fr .5fr;
	}

	.navbar ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
	.topWrapper{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		margin-top: 3%;
	}
	.title{
		font-style: italic;
	}
	#title{
		font-size: 1.8em;
		margin-top: 2.5%;
		text-shadow: 1px 1px grey;
		text-decoration: underline;
	}
	.schoolExp{
		border:2px solid;
	}
	.schoolExp ul{
		margin-top: 2%;
	}
	.schoolExp li{
		text-align: center;
		border:none;
	}
	.workExp{
		border:2px solid;
	}
	.workExp{
		margin-top: 0;
	}
	.workExp li{
		text-align: center;
		border:none;
	}
	.middlePhoto{
		grid-column: 1/3;
		background-image: url("images/programmer.jpeg");
		background-size: 100% 100%;
		border:2px solid;
	}
	.bottomWrapper{
		grid-row: 5/6;
	}
	.skillTitle{
		font-size: 2em;
	}
	.skills ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: : 1fr 1fr 1fr 1fr;
	}
	.contactBar li{
		font-size: 1.8em;
	}
}
@media only screen and (min-width: 769px) and (max-width: 992px){
	.wrapper{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .2fr .18fr .5fr 1fr .5fr;
	}

	.navbar ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
	.topWrapper{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		margin-top: 3%;
	}
	.title{
		font-style: italic;
	}
	#title{
		font-size: 1.8em;
		margin-top: 2.5%;
		text-shadow: 1px 1px grey;
		text-decoration: underline;
	}
	.schoolExp{
		border:2px solid;
	}
	.schoolExp ul{
		margin-top: 2%;
	}
	.schoolExp li{
		text-align: center;
		border:none;
	}
	.workExp{
		border:2px solid;
	}
	.workExp{
		margin-top: 0;
	}
	.workExp li{
		text-align: center;
		border:none;
	}
	.middlePhoto{
		grid-column: 1/3;
		background-image: url("images/programmer.jpeg");
		background-size: 100% 100%;
		border:2px solid;
	}
	.bottomWrapper{
		grid-row: 5/6;
		display: grid;
		grid-template-rows: 2fr 1fr;
	}
	.skillTitle{
		font-size: 2em;
	}
	.skills{
		display: grid;
		grid-template-rows: 1fr 1fr;
	}
	.skillTitle{
		height: 0;
		font-size: 0em;
	}
	.skills ul{
		grid-row: 1/3;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: : 1fr 1fr 1fr 1fr;
	}
	.skills li{
		font-weight: bold;
	}
	.skillImage{
		background-image: url("images/skills.jpg");
		background-size: 100% 100%;
		grid-row:1/2; 
	}
	.contactBar li{
		font-size: 1.8em;
	}
}
@media only screen and (min-width: 993px){
	.wrapper{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: .1fr .18fr .5fr 1fr .5fr;
	}

	.navbar ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
	.topWrapper{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		margin-top: 3%;
	}
	.title{
		font-style: italic;
	}
	#title{
		font-size: 1.8em;
		margin-top: 2.5%;
		text-shadow: 1px 1px grey;
		text-decoration: underline;
	}
	.schoolExp{
		border:2px solid;
	}
	.schoolExp ul{
		margin-top: 2%;
	}
	.schoolExp li{
		text-align: center;
		border:none;
	}
	.workExp{
		border:2px solid;
	}
	.workExp{
		margin-top: 0;
	}
	.workExp li{
		text-align: center;
		border:none;
	}
	.middlePhoto{
		grid-column: 1/3;
		background-image: url("images/programmer.jpeg");
		background-size: 100% 100%;
		border:2px solid;
	}
	.bottomWrapper{
		grid-row: 5/6;
		display: grid;
		grid-template-rows: 2fr 1fr;
	}
	.skillTitle{
		font-size: 2em;
	}
	.skills{
		display: grid;
		grid-template-rows: 1fr 1fr;
	}
	.skillTitle{
		height: 0;
		font-size: 0em;
	}
	.skills ul{
		grid-row: 1/3;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: : 1fr 1fr 1fr 1fr;
	}
	.skills li{
		font-weight: bold;
	}
	.skillImage{
		background-image: url("images/skills.jpg");
		background-size: 100% 100%;
		grid-row:1/2; 
	}
	.contactBar li{
		font-size: 1.8em;
	}
}