*{
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #F3FFFF;
}

.wrapper{
	width: 90%;
/*	border: 2px solid green;*/
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .6fr 1fr 3fr;
}
.navbar{
	width: 100%;
	grid-column: 1/3;
	/*border: 2px solid red;*/
	/*text-align: left;*/
	display:flex;
	height: auto;
}

.navbar ul{
	display: grid;
	list-style: none;
	font-size: 2em;
	width: 100%;
	position: relative;
	padding-left: 0;
	grid-template-columns: 1fr 1fr;
/*	padding: 0 auto;
	margin: 0 auto;*/
}
.navbar li{
	float: none;
	/*margin: 2% auto;*/
	padding: 0 auto;
	/*border: 2px solid;*/
	/*background-color: lightgrey;*/
	/*text-align: left;*/
	text-shadow: 1px 1px black;
	box-shadow: 1px 1px black;
	/*margin-bottom: .2em;*/
}
.navbar a{
	text-decoration: none;
	color: black;
	/*box-shadow: 1px 1px;*/
	width: 50%;
}
.navbar a:hover{
	color: grey;
}
/*.welcomeWrapper{
	width: 100%;
	grid-column: 1/3;

}*/
.welcome{
/*	border: 2px solid green;*/
	text-align: center;
	margin: 0 auto;

	grid-column: 1/3;
	/*display: block;*/
}
.welcomeText{
	font-size: 1em;
	/*display: inline;*/
}
.enlarge{
	font-size: 3em;
	font-style: italic;
	text-decoration:underline;
}

.middleWrapper{
/*	border: 2px solid;*/
	grid-column: 1/3;
	margin-top: .5em;

}
.selfieQuote{
/*	border: 2px solid red;*/
	margin-top: .2em;

}
.selfieImage{
	background-image:url("images/ProfileSelfie.jpg");
	height: 40vw;
	width: 100%;
	background-size: 100% 100%;
	box-shadow: 5px 5px grey;
}
#quoteDressUp{
	font-family:Apple Chancery;
	font-style: oblique;
}
#quoteFancy{
	font-family:Apple Chancery;
	font-style: oblique;
	font-weight: bold;
	text-indent: 40%;
}
.selfDescription{
	margin-top: .5em;
	/*font-size: 1.2em;*/
	text-align: center;

}
#prettyUp{
	margin-top: .2em;
	font-size: 1.4em;
}
.contactBar{
	width: 80%;
	float: none;
	margin:0 auto 0 auto;
	display: flex;
/*	border: 2px solid;*/
	position: relative;
}
.contactBar ul{
	display:grid;
	list-style: none;
	padding-left: 0;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;


}
.contactBar li{
	font-size: 1.5em;
	text-shadow: 1px 1px;
	/*border: 2px solid;*/
	
}
.contactBar li a{
	color: black;
	text-decoration: none;
	/*text-shadow: 30px 30px;*/

}
.contactBar li a:hover{
		color:grey;
}
@media only screen and (min-width: 481px) and (max-width: 768px){
	.wrapper{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: .4fr 1fr 3fr 1fr;
	}
	.navbar ul{
	/*	text-align: center;*/
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.navbar li{
		float: left;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		border:2px solid;
		background-color: lightgrey;
		border-radius: 0;
		text-align: center;
		padding-top: 2.25%;
	}
	.bottomWrapper{
		display:grid;
		grid-template-columns: 1fr 1fr;
/*		border:2px solid red;*/
		grid-column: 1/3;
	}
	.websitePhoto{
		background-image: url("images/websiteProfile.jpg");
		background-size: 100% 100%;
	}
	.computerPhoto{
		background-image: url("images/laptopProfile.png");
		background-size: 100% 100%;
	}
	.contactBar ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
		margin: 0 auto;
		width: 100%
	}
	.contactBar li {
		box-shadow: 1px 2px;
		border-radius: 4px;
	}
}
@media only screen and (min-width: 769px) and (max-width: 992px){
	.wrapper{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: .4fr .5fr 3fr 2fr;
	}
		.navbar ul{
	/*	text-align: center;*/
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
		.navbar li{
		padding-top: 2.25%;
		margin: 0 auto;
		border:2px solid;
		width: 100%;
		height:100%;
		text-align: center;
		border-radius: 0;
		background-color: lightgrey;
	}
	.welcomeText{
		font-size: 1.2em;
		/*display: inline;*/
	}
	.middleWrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr .1fr;
	}
	.selfieQuote{
		grid-row : 2/3;
		grid-column: 2/3;
	}
	.selfieImage{
		grid-row: 1/2;
		grid-column: 2/3;
	}
	.selfDescription{
		grid-row: 1/3;
		grid-column: 1/2;
		margin: auto auto;
		font-size: 1.1em;
		font-style: italic;
	}
	#prettyUp{
		text-shadow: 1px 1px grey;
	}
		.bottomWrapper{
		display:grid;
		grid-template-columns: 1fr 1fr;
/*		border:2px solid red;*/
		grid-column: 1/3;
	}
	.websitePhoto{
		background-image: url("images/websiteProfile.jpg");
		background-size: 100% 100%;
	}
	.computerPhoto{
		background-image: url("images/laptopProfile.png");
		background-size: 100% 100%;
	}
	.contactBar ul{
		display: grid;
		grid-template-columns:1fr 1fr 1fr;
		text-align: center;
		margin:0 auto;
		width: 100%;
	}
	.contactBar li{
		box-shadow: 1px 2px grey;
		border-radius: 4px;
	}
}
@media only screen and (max-width: 480px){
	.wrapper{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: .4fr 1fr 2fr;
	}
	.navbar ul{	
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.navbar li{
		border:2px solid;
		background-color: lightgrey;
		text-align: center;
	}
	.contactBar li{
		text-align: center;
	}
}
@media only screen and (min-width: 992px){
	.wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: .4fr .5fr 3fr 2fr;
	}
	.navbar ul{
	/*	text-align: center;*/
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		width: 100%;
		border:2px solid;

	}
	.navbar li{
		border:2px solid;
		border-radius: 0;
		height:auto;
		width: 100%;
		padding-top: 2.25%;
		background-color: lightgrey;

	}
	.navbar li a{
		margin: auto;
		box-shadow: none;
		position: relative;
	}
	.welcomeText{
		font-size: 1.2em;
		/*display: inline;*/
	}
	.middleWrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr .1fr;
	}
	.selfieQuote{
		grid-row : 2/3;
		grid-column: 2/3;
	}
	.selfieImage{
		grid-row: 1/2;
		grid-column: 2/3;
	}
	.selfDescription{
		grid-row: 1/3;
		grid-column: 1/2;
		margin: auto auto;
		font-size: 1.1em;
		font-style: italic;
	}
	#prettyUp{
		text-shadow: 1px 1px grey;
	}
	.bottomWrapper{
		display:grid;
		grid-template-columns: 1fr 1fr;
/*		border:2px solid red;*/
		grid-column: 1/3;
	}
	.websitePhoto{
		background-image: url("images/websiteProfile.jpg");
		background-size: 100% 100%;
	}
	.computerPhoto{
		background-image: url("images/laptopProfile.png");
		background-size: 100% 100%;
	}
	.contactBar ul{
		display: grid;
		grid-template-columns:1fr 1fr 1fr;
		text-align: center;
		margin:0 auto;
		width: 100%;
	}
	.contactBar li{
		box-shadow: 1px 2px grey;
		border-radius: 4px;
	}
}

